---
import AntesDespues from "@/components/AntesDespues.astro";
import PerfilProfesional from "@/components/PerfilProfesional.astro";
import Historia from "@/components/Historia.astro";
import VisionMision from "@/components/VisionMision.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Acerca de nosotros" desc="">
  <div class="py-24">
    <PerfilProfesional />
  </div>
  <AntesDespues />
  <Historia />
  <VisionMision />
</BaseLayout>
